In [22]:
import pandas as pd
import pyarrow.parquet as pq 
from time import time

In [23]:
pd.__version__

'2.1.4'

In [24]:
pq.read_metadata('yellow_tripdata_2024-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x00000144315ECB30>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 2964624
  num_row_groups: 3
  format_version: 2.6
  serialized_size: 6357

In [25]:
file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [26]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [ ]:
%pip install psycopg2 --q

In [5]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [28]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [14]:
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# df = next(batches_iter).to_pandas()
# df

NameError: name 'file' is not defined

In [30]:
# Creating just the table in postgres
df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

0

In [31]:
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'insert batch {count}....')
    b_start = time()

    batch_df.to_sql(name='ny_taxi_data', con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end - b_start:10.3f} seconds.\n')

t_end = time()
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

insert batch 1....
inserted! time taken     27.700 seconds.

insert batch 2....
inserted! time taken     22.874 seconds.

insert batch 3....
inserted! time taken     22.101 seconds.

insert batch 4....
inserted! time taken     29.565 seconds.

insert batch 5....
inserted! time taken     33.295 seconds.

insert batch 6....
inserted! time taken     28.399 seconds.

insert batch 7....
inserted! time taken     29.945 seconds.

insert batch 8....
inserted! time taken     25.044 seconds.

insert batch 9....
inserted! time taken     27.084 seconds.

insert batch 10....
inserted! time taken     25.720 seconds.

insert batch 11....
inserted! time taken     28.706 seconds.

insert batch 12....
inserted! time taken     23.310 seconds.

insert batch 13....
inserted! time taken     30.665 seconds.

insert batch 14....
inserted! time taken     28.520 seconds.

insert batch 15....
inserted! time taken     24.065 seconds.

insert batch 16....
inserted! time taken     22.994 seconds.

insert batch 17....
inserted! time taken     20.688 seconds.

insert batch 18....
inserted! time taken     28.354 seconds.

insert batch 19....
inserted! time taken     29.570 seconds.

insert batch 20....
inserted! time taken     29.904 seconds.

insert batch 21....
inserted! time taken     29.795 seconds.

insert batch 22....
inserted! time taken     29.004 seconds.

insert batch 23....
inserted! time taken     29.271 seconds.

insert batch 24....
inserted! time taken     24.299 seconds.

insert batch 25....
inserted! time taken     26.852 seconds.

insert batch 26....
inserted! time taken     26.780 seconds.

insert batch 27....
inserted! time taken     25.237 seconds.

insert batch 28....
inserted! time taken     25.228 seconds.

insert batch 29....
inserted! time taken     23.204 seconds.

insert batch 30....
inserted! time taken     15.850 seconds.

Completed! Total time taken was    795.227 seconds for 30 batches.